<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kedar guest house</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <style>
        .icon {
            color: white;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1.5rem;
        }

        .icon i {
            padding-top: 20px;
        }

        footer span i {
            margin-right: 20px;
            font-size: 1.5rem
        }
    </style>
</head>

<body>
    <% include ./Component/header %>
    <%- body -%>
    <% include ./Component/footer %>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script
        src="https://preview.webpixels.io/quick-website-ui-kit-v1.0.0/assets/libs/sticky-kit/dist/sticky-kit.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/quick-website.js "></script>
    <script>
        $(document).ready(function () {
            $('.carouselhome').owlCarousel({
                loop: true,
                autoplay: true,
                autoplayTimeout: 1000,
                items: 1,
                autoplayHoverPause: false,
                responsiveClass: true,
                nav: false,
                pagination: false,
                dots: false,
                singleItem: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 5,
                        nav: false,
                    }
                }
            });
            $('.carouselfacility').owlCarousel({
                loop: true,
                autoplay: true,
                autoplayTimeout: 1000,
                items: 1,
                autoplayHoverPause: false,
                responsiveClass: true,
                nav: false,
                pagination: false,
                dots: false,
            });

            var path = $(location).attr('pathname');
            console.log(path)
            if (path == '/' || path == '/#') {
                // $("a[data-name]='home'").addClass("active")
                var navLink = $('[data-name="home"]')
                navLink.addClass("active")
            } else {
                var navLink = $('[data-name="' + path + '"]')
                console.log(navLink)
                navLink.addClass("active")
            }
        });
    </script>
</body>

</html>