<footer class="bg-section-dark">
    <div class="container-fluid py-5">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img src="" alt="">
            </div>
            <div class="col-md-3 col-sm-2 sal-animate" data-sal="slide-up" data-sal-delay="600" data-sal-duration="900"
                data-sal-easing="ease-in-out">
                <ul class="list-unstyled text-small">
                    <li>
                        Product
                    </li>
                    <li>
                        Install
                    </li>
                    <li>
                        Quickstart
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-2 sal-animate" data-sal="slide-up" data-sal-delay="600" data-sal-duration="900"
                data-sal-easing="ease-in-out">
                <ul class="list-unstyled text-small">
                    <li>
                        Blog
                    </li>
                    <li>
                        Carrers
                    </li>
                    <li>
                        About
                    </li>
                </ul>
            </div>
            <div class="col-md-3 sal-animate" style=" color: #fff;" data-sal="slide-up" data-sal-delay="600"
                data-sal-duration="900" data-sal-easing="ease-in-out">
                <span>
                    <i class="fab fa-twitter"></i>
                </span>
                <span>
                    <i class="fab fa-facebook"></i>
                </span>
                <span>
                    <i class="fab fa-github"></i>
                </span>
            </div>
        </div>
    </div>
</footer>