<footer class="bg-section-dark">
    <div class="container-fluid py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                Made with <i class="icon-heart heart" alt="love">love</i> for a better web.
            </div>
        </div>
    </div>
</footer>