<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
    <a class="navbar-brand">Brand</a>
    <button class="navbar-toggler" data-target="#nav" data-toggle="collapse" aria-controls="nav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" data-name="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/facilities" data-name="/facilities">Facilities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about" data-name="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/guestbook" data-name="/guestbook">Guestbook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq" data-name="/faq">Faq</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-sm d-none d-lg-inline-block btn-warning ml-auto" href="/reservation"
                    data-name="/reservation">Reservation</a>
            </li>
        </ul>
    </div>
</nav>