<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book</title>

    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="h-100" style="background-color: #e4e4e4;">
    <section class="slice slice-lg" style="background-color: #e4e4e4;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h1>
                        Your booking for Room details
                    </h1>
                </div>
                <div class="img">
                    <img src="https://media.tenor.com/images/5a846e0c10fc0b77f6ade4625868913c/tenor.gif" alt="">
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>

</html>