<% layout('index') -%>
<section class="slice py-8 bg-dark bg-cover bg-size--cover" style="background-image:url(/img/backgrounds/img-1.jpg)">
    <span class="mask bg-gradient-dark opacity-9"></span>
    <div data-offset-top="#navbar-main" style="padding-top: 60px;">
        <div class="container d-flex align-items-center text-center text-lg-left py-3">
            <div class="col px-0">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-12 text-center text-lg-left">
                        <h1 class="text-white mb-4 text-center">Facilities at Kedar Guest House</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice slice-lg">
    <div class="container">
        <div class="row justify-content-between mb-5">
            <div class="col-lg-3 text-lg-right">
                <h4 class="mb-4">Fooding</h4>
            </div>
            <div class="col-lg-8">
                <p>Full breakfast provisions are included in the room tariff. You may choose between a continental style
                    breakfast, consisting of a variety of cereals, fruit juice, bread and spreads or a selection of
                    exquisite homemade Indian dishes. You are welcome to have a cup of tea or coffee at anytime. Fresh
                    juices are served according to season.</p>

                <p>All are served in the guest sitting room for your convenience.</p>
            </div>
        </div>
        <div class="row justify-content-between mb-5">
            <div class="col-lg-3 text-lg-right">
                <h4 class="mb-4">Rooms</h4>
            </div>
            <div class="col-lg-8">
                <p>
                    We have 12 lovely rooms with Air conditioning or fans and all include 24 hour Free Wi-Fi. All rooms
                    have good quality mattresses and mosquito nets to ensure you sleep well. For those without laptops
                    we have a computer for use on the ground floor.</p>

                <p>Besides this,the bed and breakfast accommodation area has its own private entrance enabling you to
                    come and go at your leisure. Full breakfast provisions are included in the tariff.??We have spacious
                    roof top which is ideal for Yoga, meditation or music practice.</p>

                <p>We provide various tours and sight seeing options to have an insight of the spiritual centre –
                    Varanasi.
                </p>
            </div>
        </div>
        <div class="row justify-content-between mb-5">
            <div class="col-lg-3 text-lg-right">
                <h4 class="mb-4">Facilites</h4>
            </div>
            <div class="col-lg-8">
                <ul class="list-unstyled list-bullet">
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Free WI-FI with hi-speed internet</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Breakfast included in room tariff
                    </li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Safety deposit box available</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span>Hot showers</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Safe filtered water on request</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Doctor on call</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Quality mattresses and mosquito nets in all rooms</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Laundry service</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Complimentary tea or coffee at anytime</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Yoga Classes</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Lovely roof terrace for yoga, mediation and watching the sunset!</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> International calling facility</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Boat Trip For Sunrise & Sunset on the Ganges</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Guided tours of Varanasi</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Guided tours of village life</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Comprehensive travel arrangements</li>
                    <li class="py-2"><span class="badge badge-circle badge-soft-success mr-2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-check">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg></span> Our B&B is equipped with a free wireless Internet access for your laptops</li>

                </ul>
            </div>
        </div>
    </div>
</section>