<% layout('index') -%>
<section class="slice">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <img src="/uploads/<%=img%>" class="w-100 img-responsive" alt="">
                <article>
                    <h5>Description</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                    </p>
                    <h5>First thing you need to do</h5>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                    </p>
                </article>
            </div>
            <div class="col-lg-4 ml-lg-auto">
                <div data-toggle="sticky" data-sticky-offset="130" class="">
                    <div class="card">
                        <div class="card-body">
                            <form class="needs-validation" method="POST" autocomplete="off">
                                <div class="form-row">
                                    <div class="input-daterange">
                                        <div class="col-md-12 mb-1">
                                            <label for="startDate">Check In</label>
                                            <input type="text" name="checkin" placeholder="MM/DD/YYYY"
                                                class="form-control" required />

                                        </div>
                                        <div class="col-md-12 mb-1">
                                            <label for="endDate">Check Out</label>
                                            <input type="text" name="checkout" placeholder="MM/DD/YYYY"
                                                class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label for="validationCustom01">First Name</label>
                                        <input type="text" class="form-control" id="validationCustom01"
                                            placeholder="First name" name="name" required>

                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label for="validationCustom01">Last Name</label>
                                        <input type="text" class="form-control" id="validationCustom01"
                                            placeholder="Last name" name="lastname" required>

                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <label for="validationCustom01">Mobile Number</label>
                                        <input type="tel" class="form-control" id="validationCustom01"
                                            placeholder="Mobile Number" forma name="mobilenumber" required>

                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <label for="validationCustom01">Email</label>
                                        <input type="email" class="form-control" id="validationCustom01"
                                            placeholder="Email" name="email" required>

                                    </div>

                                </div>
                                <button class="btn btn-sm btn-success d-flex col-md-12 justify-content-center"
                                    type="submit">Submit
                                    form</button>
                            </form>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>