<div class="sidebar" data-color="purple" data-background-color="white">
    <div class="logo">
        <a href="/" class="simple-text logo-normal">
            Panel
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="/panel">
                    <i class="material-icons">store</i>
                    <p>Room</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/panel/info">
                    <i class="material-icons">info</i>
                    <p>Info</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/panel/booking">
                    <i class="material-icons">booking</i>
                    <p>Booking</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/panel/faq">
                    <i class="material-icons">live_help</i>
                    <p>Faq</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/panel/subscriber">
                    <i class="material-icons">email</i>
                    <p>Subscriber</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/panel/review">
                    <i class="material-icons">star</i>
                    <p>Review</p>
                </a>
            </li>
        </ul>
    </div>
</div>